################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/BurgerNaut.sln
/BurgerNaut.sln
/.vs/BurgerNaut
/BurgerNaut.Sunum/.vs
